In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df_power = pd.read_csv('初赛1008/训练集/power.csv')
df_his = pd.read_csv('初赛1008/训练集/power_forecast_history.csv')
df_stub = pd.read_csv('初赛1008/训练集/stub_info.csv')

df_test_his = pd.read_csv('初赛1008/测试集/power_forecast_history.csv')
df_test_stub = pd.read_csv('初赛1008/测试集/stub_info.csv')
df_stub.equals(df_test_stub)

df_his_all = pd.concat([df_his, df_test_his]).reset_index(drop=True)
df_his_all.head()

,id_encode,hour,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,ds
0,0,0.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
1,0,1.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
2,0,2.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
3,0,3.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
4,0,4.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415

In [14]:
df_his.groupby(['id_encode','ds']).agg('nunique')

                    hour  ele_price  ser_price  after_ser_price  total_price  \
id_encode ds
0         20220415    24          1          1                1            1
          20220416    24          1          1                1            1
          20220417    24          1          1                1            1
          20220418    24          1          1                1            1
          20220419    24          1          1                1            1
...                  ...        ...        ...              ...          ...
499       20230410    24          1          1                1            1
          20230411    24          1          1                1            1
          20230412    24          1          1                1            1
          20230413    24          1          1                1            1
          20230414    24          1          1                1            1

                    f1  f2  f3
id_encode ds
0         20220415   1   1   1
          20220416   1   1   1
          20220417   1   1   1
          20220418   1   1   1
          20220419   1   1   1
...                 ..  ..  ..
499       20230410   1   1   0
          20230411   1   1   0
          20230412   1   1   0
          20230413   1   1   0
          20230414   1   1   0

[149044 rows x 8 columns]