In [15]:
import pandas as pd

In [22]:
## power_forecast_history.csv 为站点运营数据
pd.read_csv('初赛1008/训练集/power_forecast_history.csv')

,id_encode,hour,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,ds
0,0,0.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
1,0,1.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
2,0,2.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
3,0,3.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
4,0,4.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415
...,...,...,...,...,...,...,...,...,...,...
3566379,499,19.0,0.00,0.51,0.51,0.51,3.0,1240.0,NaN,20230414
3566380,499,20.0,0.00,0.51,0.51,0.51,3.0,1240.0,NaN,20230414
3566381,499,21.0,0.00,0.51,0.51,0.51,3.0,1240.0,NaN,20230414
3566382,499,22.0,0.00,0.51,0.51,0.51,3.0,1240.0,NaN,20230414
3566383,499,23.0,0.00,0.51,0.51,0.51,3.0,1240.0,NaN,20230414

In [24]:
## power.csv为站点充电量数据
pd.read_csv('初赛1008/训练集/power.csv')

         id_encode  hour     power        ds
0                0   0.0    0.0000  20220415
1                0   1.0    0.0000  20220415
2                0   2.0    0.0000  20220415
3                0   3.0    0.0000  20220415
4                0   4.0    0.0000  20220415
...            ...   ...       ...       ...
3566379        499  19.0  215.6491  20230414
3566380        499  20.0   57.6127  20230414
3566381        499  21.0    0.0000  20230414
3566382        499  22.0    0.0000  20230414
3566383        499  23.0    0.0000  20230414

[3566384 rows x 4 columns]

In [25]:
# stub_info.csv为站点静态数据
pd.read_csv('初赛1008/训练集/stub_info.csv')

,id_encode,parking_free,flag,h3,ac_equipment_kw,dc_equipment_kw
0,0,1.0,A,85309ea7fffffff,0.0,1440.0
1,1,2.0,B,8530916bfffffff,14.0,60.0
2,2,1.0,A,853086a3fffffff,0.0,720.0
3,3,1.0,B,85309cb3fffffff,0.0,60.0
4,4,1.0,A,85308607fffffff,0.0,720.0
...,...,...,...,...,...,...
495,495,0.0,A,85309c4ffffffff,14.0,80.0
496,496,0.0,A,85309897fffffff,0.0,720.0
497,497,2.0,A,85309c6ffffffff,0.0,720.0
498,498,2.0,B,8530916bfffffff,14.0,60.0
499,499,1.0,A,85309ca3fffffff,0.0,540.0