In [57]:
import pandas as pd
import numpy as np

from workalendar.asia import China
cal = China()
holidays_list = []
df_holiday = pd.DataFrame()
for year in [2022, 2023]:
    holidays = cal.holidays(year)
    df_tmp = pd.DataFrame(holidays, columns=['time', 'Holiday'])
    df_tmp['Holiday Length'] = df_tmp.groupby('Holiday')['time'].transform(lambda x: x.count())
    # df_tmp1 = df_tmp[df_tmp['Holiday'] == 'Spring Festival'].reset_index(drop=True).reset_index().rename(columns={'index': 'day_num'})
    # df_tmp = df_tmp.merge(df_tmp1[['time','day_num']], on='time', how='left')
    df_holiday = pd.concat([df_holiday, df_tmp])
df_holiday['time'] = pd.to_datetime(df_holiday['time'])

# 时间补全
df_time_all = pd.DataFrame()
for i in range(500):
    df_time = pd.DataFrame()
    df_time['time'] = pd.date_range(start='20220415', end='20230421', freq='D')
    df_time['id_encode'] = i
    df_time_all = pd.concat([df_time_all, df_time])
print('df_time_all.shape:', df_time_all.shape)
df_time_all = df_time_all.merge(df_holiday, on='time',how='left')
# df_time_all['Holiday'] = df_time_all['Holiday'].apply(lambda x: 1 if x is np.nan else 0)
df_time_all['Holiday Length'] = df_time_all['Holiday Length'].fillna(0)

/Users/luoxin/miniforge3/envs/lx/lib/python3.9/site-packages/workalendar/asia/china.py:118: UserWarning: Support years 2018-2023 currently, need update every year.
  warnings.warn(
/Users/luoxin/miniforge3/envs/lx/lib/python3.9/site-packages/workalendar/asia/china.py:118: UserWarning: Support years 2018-2023 currently, need update every year.
  warnings.warn(

df_time_all.shape: (186000, 2)

[2]

In [ ]:
df_holiday

In [38]:
df_time_all#['Holiday'].value_counts()

             time  id_encode  Holiday Name  Holiday Length
0      2022-04-15          0             1             NaN
1      2022-04-16          0             1             NaN
2      2022-04-17          0             1             NaN
3      2022-04-18          0             1             NaN
4      2022-04-19          0             1             NaN
...           ...        ...           ...             ...
185995 2023-04-17        499             1             NaN
185996 2023-04-18        499             1             NaN
185997 2023-04-19        499             1             NaN
185998 2023-04-20        499             1             NaN
185999 2023-04-21        499             1             NaN

[186000 rows x 4 columns]